<!---- 選單區 ---->
<header>
    <!-- 及時支持度顯示 -->
        <div class="navTop">
            <span>大眼星: 8888</span>
            <span>智多星: 8888</span>
            <span>胖仔星: 8888</span>
        </div>
    <!-- 天長條 -->
        <div class="nav">
            <div class="logo">
                <a href="">
                    <img src="img/logo.png" alt="征服宇宙LOGO">
                </a>
            </div>
            <div class="navBar">
                <ul>
                    <li><a href="">宇宙星聞</a></li>
                    <li><a href="">公民學堂</a></li>
                    <li><a href="">公民投票</a></li>
                    <li><a href="">宇宙商城</a></li>
                    <li><a href="">公民的家</a></li>
                </ul>
            </div>
            <div class="navLogin">
                <div class="login"><a href="">登入/註冊</a></div>
            </div>
        </div>
    </header>